<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
      window.presets = [40, 100, 200, 1000, 2500, 5000];
      window.suggestion = 40;
      window.currencies = [
      	{name: "US Dollar", code: "USD", symbol: "$", rate: 1},
      	{name: "Euro", code: "EUR", symbol: "€", rate: 0.897597},
      	{name: "British Pound", code: "GBP", symbol: "£", rate: 0.81755},
      	{name: "Russian Ruble", code: "RUB", symbol: "₽", rate: 63.461993}
      ];
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
