<template>
  <DemoForm v-if="!paid && !failed" :onPaid="paidHandler" />
  <div v-else class="message">
    <em v-if="failed">Oops, something went wrong! please try again later</em>
    <b v-else>Thank you for your donation!</b>
  </div>
</template>

<script>
import DemoForm from './components/Form.vue'
import { submitDonation } from './helper/api.js'

export default {
  name: 'Demo Widget',
  components: {
    DemoForm
  },
  data: function() {
    return {
      paid: false,
      failed: false,
    };
  },
  methods: {
    paidHandler: async function(amount, currency) {
      if (amount < 1) return false;
      try {
        await submitDonation(amount, currency);
        this.paid = true;
        alert('Thank you for your donation!');
      } catch (err) {
        this.failed = true;
      }
    }
  },
}
</script>

<style>
#donate-widget {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  max-width: 340px;
  height: 200px;
  border: 1px solid #D2D2D2;
  border-radius: 8px;
  background-color: #F5F5F5;
  padding: 15px;
}

.message {
  padding-top: 60px;
}

.message em {
  color: red;
}
</style>
