<template>
  <div class="hello">
    <ul>
      <li v-for="item in amountPresets" :key="item">
        <button
          v-bind:class = "(parseInt(item, 10) === amount) ? 'amount-btn-active':'amount-btn'"
          @click="() => donateSelected(item)"
        >
          {{ currencySign}} {{ presetFormat(item) }}
        </button>
      </li>
    </ul>

    <div class="amount-box">
      <span>{{ currencySign }}</span>
      <input
        type="number"
        class="amount"
        @change="NumbersOnly"
        v-model.number="amount"
      />
      <select @change="toggleCurrency($event)">
        <option v-for="currency in currencies" :key="currency.code">
          {{ currency.code }}
        </option>
      </select>
    </div>

    <input type="submit" class="submit" value="Donate" @click="pushDonate">
  </div>
</template>

<script>
import { formatCurrency, prettyNumber } from './../helper/formatter.js'

export default {
  name: 'DemoForm',
  data: function() {
    return {
      currency: 'USD',
      currencySign: '$',
      amount: 0,
      amountPresets: [],
    };
  },
  mounted: function(){
       this.setInitAmount()
  },
  computed: {
    currencies: () => window.currencies,
    presets: () => window.presets,
    suggestion: () => window.suggestion,
  },
  methods: {
    presetFormat: function (val) {
      const newval = formatCurrency(val);
      return newval.split('.')[0];
    },
    donateSelected: function (val) {
      this.amount = val;
    },
    setInitAmount: function () {
      this.amount = this.suggestion;
      this.amountPresets = window.presets;
    },
    toggleCurrency: function (e) {
      const selected = e.target.value;
      for (const currency of this.currencies) {
        if (currency.code === selected) {
          this.currencySign = currency.symbol;
          this.currency = currency.code;
          const amounts = [];
          window.presets.forEach((item) => {
            amounts.push(prettyNumber(currency.rate * item, currency.code));
          })
          this.amountPresets = amounts;
        }
      }
    },
    NumbersOnly(val) {
      this.amount = Math.abs(Math.floor(1*val.target.value));
    },
    pushDonate: function () {
      this.onPaid(this.amount, this.currency);
    }
  },
  props: {
    onPaid: Function,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.amount-btn {
  width: 90px;
  background-color: #FAFAFA;
  margin-bottom: 10px;
  border-radius: 6px;
}

.amount-btn-active {
  width: 90px;
  color: #ffffff;
  background-color: #4D83D4;
  margin-bottom: 10px;
  border-radius: 6px;
}

.amount-box {
  width: 80%;
  margin-left: 20px;
  border: 1px solid #8E939F;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.amount-box span {
  color: #565656;
  font-size: 18px;
}

.amount-box input {
  margin-left: 10px;
  border: none;
  width: 180px;
  font-size: 24px;
  outline: none;
}

.amount-box input:focus {
  outline: none;
  border: none;
}

.amount-box select {
  outline: none;
  border: none;
  background-color: #ffffff;
}

.submit {
  height: 40px;
  background-color: #6A4DEE;
  color: white;
  width: 80%;
}
</style>
